.add-area {
    margin-top: 12px;
    font-family: inherit;
    background: transparent;
    resize: none;
    border: 0;
    color: white;
    transition: 0.2s;
}

.add-area::placeholder {
    color: white;
}
